[Desktop Entry]
Name=Megapixels
Exec=megapixels /etc/megapixels.ini
Terminal=false
Type=Application
Categories=GTK;Graphics;Photography
Keywords=camera
Icon=org.postmarketos.Megapixels
